.todos {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  width: 280px;
  padding: 0 10px;
  background-color: #f7f5f2;

  .todos .title {
    text-align: center;
  }

  .input-form {
    display: flex;

    .input {
      flex: 1 1;
      margin-right: 5px;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .todo-list {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;

    .todo-item {
      display: flex;
      justify-content: space-between;
      border: 1px solid gray;
      padding: 10px;
      margin-top: 5px;
      border-radius: 5px;
      background-color: #f0f0d8;

      &.done {
        background-color: #c2cfb2;
      }
    }
  }

  .loader {
    display: none;
  }

  .show {
    display: flex;
  }
}
